body{
  background: linear-gradient(to right, rgb(10, 135, 237), rgb(82, 251, 82));
}
.container-grid{
  display: grid;
  grid-template-columns: repeat(5,100px);
  grid-template-rows: repeat(6,100px);
}
.item1{
  grid-column: span 2;
}
.item2{
  grid-column: span 1;
}
.item4{
  grid-column: 2/3;

}
.item8{
  grid-column: 2/3;
}
.item12{
  grid-column: 2/3;
}
.item16{
  grid-column: 2/3;
}