body{
  background: linear-gradient(to right, rgb(10, 135, 237), rgb(82, 251, 82));
}
.container-grid{
  display: grid;
  grid-template-columns: repeat(5,100px);
  grid-template-rows: repeat(7,100px);
  justify-content: center;
  
}
.item1{
  grid-column: 2/4;
}
.item2{
  grid-column: span 1;
}
.item4{
  grid-column: 2/3;

}
.item8{
  grid-column: 2/3;
}
.item12{
  grid-column: 2/3;
}
.item16{
  grid-column: 2/3;
}
.item18{
  grid-column: span 2;
}
.output{
  grid-column: 2/-1;
  background-color: rgb(37, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 40px;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previousOperation{
  color: rgb(246, 228, 228);
  font-size: x-large;

}
.output .currentOperation{
  color: rgb(249, 228, 228);
  font-size: xx-large;
  
}
.container-grid > button{
  border: 1px solid white;
  background-color: rgb(172, 253, 253);
  cursor: pointers;
  outline: none;
  font-size: larger;

}
.container-grid > button:hover{
  background-color: rgb(249, 240, 240);
}
